* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    background-color: rgb(255 126 79);
    text-align: center;
    padding: 5px;
}
.header i {
    padding: 0 5px;
}
.header i:hover {
    color: red;
}
.news_item {
    display: flex;
    padding-top: 8px;
}
.news_img {
    flex: 30%;
}
.news_info {
    flex: 70%;
    padding-left: 20px;
}
.news_img img {
    width: 100%;
    height: auto;
}
.news_title {
    margin-bottom: 10px;
}
.news_time {
    margin-bottom: 15px;
    font-size: 0.7em;
}
@media only screen and (max-width: 768px) {
    .news_des {
        display: none;
    }
    .news_title {
        margin-bottom: 4px;
    }
}
@media only screen and (min-width: 1200px) {
    .news_item {
        height: 180px;
        overflow: hidden;
    }
    .news_title {
        margin-bottom: 0px;
    }
    .news_time {
        margin-bottom: 5px;
        font-size: 0.7em;
    }
}
.loader {
    margin: 50px auto;
    width: 60px;
    height: 60px;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #cbd0d3;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg)}
}
.search_box {
    background-color: #fff;
    position: absolute;
    top: 15%;
    left: 25%;
    width: 50%;
    padding: 30px;
    z-index: 2;
    overflow: auto;
    display: none;
}
.search_box i {
    position: absolute;
    top: 5px;
    right: 5px;
}
.search_box i:hover{
    font-size: 1.25em;
}
.search_btn {
    margin: 10px 0;
}
.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 1;
    display: none;
}